#MainAboutHolder .ImgTagHolder img{
    width: 100%;
    height: 545px;
}

#MainAboutHolder .ImgTagHolder p{

}

.ImgTagHolder {
    position: relative; 
}

.ImgTagHolder .about-intro p{
    font-size: 29px;
    line-height: 31px;
    font-weight: normal;
    color: #fff; 
}

.ImgTagHolder .about-intro {
    width: 300px;
    padding: 10px 10px 0px 20px;
    position: absolute;
    bottom: 1px;
    text-align: left;
}

#MainAboutHolder #main-block{
    padding:0px;
    padding-top: 15px;
}

#main-block .prodHolder-block{
    position:relative;
    float: left;
    width: 404px;
    background: #7B8D97;
    height: 200px;
    border-right: 1px solid #fff;
    color: white;
}

#main-block .prodHolder-block p{
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #fff;
    font-family:Museo-300;
    margin:17px 28px 28px 28px;
    line-height: 23px;

}
#MainAboutHolder .col-md-2 a{
    text-decoration: none;
}
#MainAboutHolder #block-specified .ImgTagHolder img{
    width: 100%;
    height: 415px;

}


.button-pdf {
    display: inline-block;
    /* text-align: center; */
    vertical-align: middle;
    padding: 4px 19px;
    /* padding: 10px 66px; */
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -moz-linear-gradient(top, #ffffff, #ededed);
    background: linear-gradient(to bottom, #ffffff, #ededed);
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal bold 17px georgia;
    color: #b1b1ba;
    text-decoration: none;
    width: 200px;
}

.button-pdf:active {
    background: #b3b3b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#ededed));
    background: -moz-linear-gradient(top, #b3b3b3, #ededed);
    background: linear-gradient(to bottom, #b3b3b3, #ededed);
}
.button-pdf:before{
    content:  "\0000a0";
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("/images/pdfdownload.png") no-repeat left center transparent;
    background-size: 100% 100%;
}
.button-dwg {
    display: inline-block;
    /* text-align: center; */
    vertical-align: middle;
    padding: 4px 19px;
    /* padding: 10px 66px; */
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -moz-linear-gradient(top, #ffffff, #ededed);
    background: linear-gradient(to bottom, #ffffff, #ededed);
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal bold 17px georgia;
    color: #b1b1ba;
    text-decoration: none;
    width: 200px;
}

.button-dwg:active {
    background: #b3b3b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#ededed));
    background: -moz-linear-gradient(top, #b3b3b3, #ededed);
    background: linear-gradient(to bottom, #b3b3b3, #ededed);
}
.button-dwg:before{
    content:  "\0000a0";
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("/images/dwgdownload.png") no-repeat left center transparent;
    background-size: 100% 100%;
}
#DescMainHolder .col-sm-11{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 150px;

}

#DescMainHolder .col-sm-11 div{
    padding-top:20px;
    padding-bottom:20px;
    vertical-align: middle;
    
}
#DescMainHolder .col-sm-11 img{
    padding-top:20px;

}